.search-wrap {

}

.weather-search {
  width: 800px;
  margin: 60px 0 0 200px !important;
}

@media (max-width: 1199px) {
  .weather-search {
    width: 600px;
    margin: 60px 0 0 100px !important;
  }
}

@media (max-width: 991px) {
  .weather-search {
    width: 400px;
    margin: 60px 0 0 50px !important;
  }

}

@media (max-width: 767px) {
  .weather-search {
    width: 340px;
    margin: 150px 0 0 10px !important;
  }

}

@media (max-width: 564px) {
  .weather-search {
    width: 300px;
    margin: 150px 0 0 20px !important;
  }

}